@import 'variables';
@import 'component';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $main-background-color;
}

@media (min-width: 1024px) {
    .main {
        background-image: url(../images/pattern-background-desktop.svg);
    }
}